body {
    background-color: #161A37;
}

.container {
    width: auto;
    margin: 0 auto;
}

/*Logo
-----------------------------------------*/
.konamilogo {
    background: #000000;
}

.konamilogo img {
    width: 130px;
    vertical-align: bottom;
}

.principal {
}

/*Server Status 
----------------------------------*/
.server-status {
    position: relative;
    height: 40px;
    padding: 8px;
    text-align: right;
    color: #ffffff;
    background: #252525;
}

.status {
    font-size: 0.8571428571rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 16px;
    background-color: black;
}

.status span img {
    width: 14px;
    margin: 0 4px 0 0;
    vertical-align: bottom;
}

/*Imagem Pre Season 
-------------------------------------- */

.preseason {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 6px rgb(0, 0, 0 / 80%);
}

.preseason-img img {
    display: block;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}

/* Foto capa jogo
--------------------------*/

.fotocapa {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 38.6666666667%;    
    background: url(../img/launch_visual_pc.jpg) no-repeat 0 0/100% auto;
    background-repeat: no-repeat;
}


.bestgame {
    position: absolute;
    left: 23%;
    max-width: 80px;
}

.fotocapa .bestgame {
    position: block;
    top: 5%;
}

.titlelogo {
    position: absolute;
}

.fotocapa .titlelogo {
    position: absolute;
    max-width: 800px;
    margin-left: 23%;
    top: 72%;
    width: 54%;
}

/* Compre Já
--------------------------------------- */

.compreja {
    position: relative;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.compreja .btn {
    margin-top: 5px;
    display: block;
    min-width: 320px;
    text-align: center;
    padding-top: 2%;
}

.compreja .bnt a:link {
    background-color: #ffd300;
    color: #201e4f;
}

.compreja .btn a {
    font-size: 1.1428571429rem;
    position: relative;
    display: inline-block;
    min-height: 40px;
    padding: 0 10px;
    line-height: 40px;
    padding-right: 30px;
    border-radius: 20px;
    text-indent: initial;
    transition: all 0.3s;
    background-color: #ffd300;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
}

/*Plataformas 
---------------------------*/

.plataformas {
    position: relative;
    right: 0;
    left: 0;
    margin: 5px auto 0;
    padding: 10px;
    text-align: center;
}

.hardware {
    margin-left: 3%;
}

.plataformas li {
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}

.plataformas li img {
    width: 85px;
    padding: 5px;
}